<app-nav-bar-content [navItems]="navItems"></app-nav-bar-content>
<div class="wh-100" style="overflow-y: auto; overflow-x: hidden;">
  <div class="w-100 h-100 m-0 p-0" *ngIf="!isServiceRunning" style="border-radius: 7px; background-color: #f8f8f8">
    <div class="row justify-content-center p-2 bg-white" style=" margin-top: 50px !important;">
      <div class="col-sm-6 mx-0 mt-2 p-0">
        <app-not-found *ngIf="allAppliedPosts.length === 0" style="margin-top: 200px !important;" class="center-parent">
        </app-not-found>

        <div *ngIf="allAppliedPosts.length > 0" class="p-2">
          <div class="m-2 mr-2 mb-3" *ngFor="let jobPost of allAppliedPosts" (click)="seeDetails(jobPost.data._id)">
            <div class="card border-12 box-shadow btn btn-light p-3">
              <div class="d-flex justify-content-between vertical-center mb-3">
                <div class="text-left">
                  <span class="text-dark text-ssmd semi-bold d-block">{{jobPost.jobPost.title}}</span>
                  <span class="semi-bold d-block w-100 text-left"
                    style="color: rgb(93, 35, 141);">{{jobPost.jobPost.companyName}}</span>
                </div>
                <img class="" *ngIf="jobPost.jobPost.companyLogo" src="{{jobPost.jobPost.companyLogo}}"
                  style="max-height: 70px; max-width: 160px; min-height: 70px; min-width: 70px;">
              </div>
              <div class="row">
                <div *ngIf="jobPost.jobPost.jobType === 'In office'"
                  class="col-sm-6 my-2 vertical-center justify-content-start">
                  <span class="material-icons-outlined text-md text-grey mr-2 text-violet">location_on</span>
                  <span class="text-grey semi-bold text-smd  d-inline">Location : </span>
                  <span class="text-grey text-smd">&nbsp;{{jobPost.jobPost.location}}</span>
                </div>
                <div *ngIf="jobPost.jobPost.jobType !== 'In office'"
                  class="col-sm-6 my-2 vertical-center justify-content-start">
                  <span class="material-icons-outlined text-md text-grey mr-2 text-violet">home</span>
                  <span class="text-grey semi-bold text-smd  d-inline">Work from home</span>
                </div>
                <div class="col-sm-6 my-2 vertical-center" *ngIf="jobPost.jobPost.skills.length > 0">
                  <span class="material-icons-outlined text-grey mr-2 text-md text-violet">psychology</span>
                  <span class="text-grey semi-bold text-smd  d-inline">Skills : &nbsp;</span>
                  <span class="text-grey text-smd text-wrap">{{jobPost.jobPost.skills[0].skillName }}
                    {{ jobPost.jobPost.skills.length > 1 ? ' , ' +
                    jobPost.jobPost.skills[1].skillName : ''}}</span>
                </div>
                <div class="my-2 col-sm-12 vertical-center justify-content-start">
                  <span class="material-icons-outlined text-grey mr-2 text-violet">payments</span>
                  <span class="text-grey semi-bold d-inline">{{jobPost.jobPost.jobInternship === 'Job' ? 'Salary'
                    :
                    'Stipend'}}
                    :
                  </span>
                  <span class="text-grey">&nbsp; &#8377; {{jobPost.jobPost.salary}}
                    {{jobPost.jobPost.salaryType}}</span>
                </div>
                <div class="my-2 col-sm-12 vertical-center justify-content-start">
                  <span class="material-icons-outlined text-grey mr-2 text-violet">work</span>
                  <span class="text-grey semi-bold  d-inline">Experience : </span>
                  <span class="text-grey">&nbsp; {{ jobPost.jobPost ? jobPost.jobPost.experience : ''
                    }}
                    years</span>
                </div>
              </div>
              <div class="row justify-content-between vertical-center mt-3">
                <span class="text-sm text-grey semi-bold col-auto">Refer reward: <span
                    class="badge badge-primary text-sm bg-violet">₹{{jobPost.referReward}}</span></span>
              </div>
              <div class="vertical-center justify-content-between mt-1">
                <span class="text-smd py-2"
                  [ngClass]="jobPost.status === 'Shortlisted' ? 'text-primary' : jobPost.status === 'Hired' ? 'text-success' : jobPost.status === 'Rejected' ? 'text-danger' : ''">{{jobPost.status
                  === 'Rejected' ? 'Closed' : jobPost.status}}</span>
                <span class="text-grey text-sm text-break">Submitted on &nbsp; {{jobPost.appliedDate | date: 'dd
                  MMMM
                  yyyy'}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-spinner-component *ngIf="isServiceRunning"></app-spinner-component>