<ion-header [translucent]="true" class="bg-primary">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Job Detail</ion-title>
  </ion-toolbar>
</ion-header>

<span class="mb-5 text-grey text-center bold mt-2">Job Details</span>
      <span class="text-sm text-grey">gffg</span>

<div class=" row w-100 p-3 justify-content-center">
  <div class="col-sm-7">
    <div class="row justify-content-center">
    </div>
  </div>
</div>