<app-nav-bar-content>Nav Bar Works!</app-nav-bar-content>
<div class="h-100 w-100 overflow-x-hidden" style="overflow-y: auto;" *ngIf="!isServiceRunning">
  <div class="bg-light w-100 text-white d-flex vertical-center justify-content-between pt-5">
    <div class="row d-flex justify-content-between ">
    <div class="d-flex justify-content-start px-3">
      <span class="text-black text-lg px-3">Hi, {{getName(user.name)}}!</span>
    </div>
    <div class="d-flex justify-content-start px-3">
      <div class="d-flex flex-column px-2">
        <span class="text-black text-lg">0</span>
        <span class="text-black">Total Earnings</span>
      </div>
      <div class="d-flex flex-column px-2">
        <span class="text-black text-lg ">{{user.profileViews ? user.profileViews : 0}}</span>
        <span class="text-black">Profile Views</span>
      </div>
    </div>
  </div>
  </div>
  <div class="mx-5">
    <div class="row justify-content-between">

      <!-- <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="border-8 bg-lightest-blue p-5">
          <span class="text-navy-blue">Find Jobs</span>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="border-8 bg-lightest-blue p-5">
          <span class="text-navy-blue">Find Jobs</span>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="border-8 bg-lightest-blue p-5">
          <span class="text-navy-blue">Find Jobs</span>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="special-card transition border-8 bg-lightest-blue">
          <span class="card_circle text-trans transition text-navy-blue">Find Jobs</span>
        </div>
        <div class=""></div>
        <div class="card_circle transition"></div>
      </div> -->
      <!-- <div class="container"> -->
      <div class="col-lg-3 col-md-6 col-sm-3 p-2 my-1">
        <div class="special-card transition p-1"><a href ="#">
          <span class="text-trans transition">Find Jobs</span>
          <div class="card_circle transition"></div>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-3 p-2 my-1">
        <div class="special-card transition"><a href ="#">
          <span class="text-trans transition">Referred Profiles</span>
          <div class="card_circle transition"></div>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-3 p-2 my-1">
        <div class="special-card transition"><a href ="#">
          <span class="text-trans transition">Applied Job</span>
          <div class="card_circle transition"></div>
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-3 p-2 my-1">
        <div class="special-card transition"><a href ="#">
          <span class="text-trans transition">Feedback</span>
          <div class="card_circle transition"></div>
          </a>
        </div>
      </div>

    </div>

      <!-- <div class="row p-2 m-0 col-sm-3 mt-4">
        <div class="col-sm-9 mx-auto d-flex border border-primary justify-content-center bg-white card"
          style="border-radius: 10px;">
          <div class="rounded-circle bg-violet vertical-center mx-auto"
            style="margin-top: -30px; width: 90px; height: 90px;">
            <span class="material-icons text-lg text-white mx-auto">search</span>
          </div>
          <div class="w-100 text-center my-3">
            <span class="d-block text-dark semi-bold text-lg">Find Jobs</span>
            <span class="d-block text-dark">Refer friends & colleagues</span>
            <span class="d-block text-dark">Get rewarded</span>
          </div>
          <div class="w-100 d-flex justify-content-center py-4 pb-5 mb-2">
            <button routerLink="/referer/jobs" class="btn btn-outline-info py-1 px-5"
              style="border-radius: 30px;">View</button>
          </div>
        </div>
      </div> -->
      <!-- <div class="row p-2 m-0 col-sm-3 mt-4">
        <div class="col-sm-9 mx-auto border border-primary d-flex justify-content-center bg-white card"
          style="border-radius: 10px;">
          <div class="rounded-circle bg-violet vertical-center mx-auto"
            style="margin-top: -30px; width: 90px; height: 90px;">
            <span class="material-icons text-lg text-white mx-auto">recent_actors</span>
          </div>
          <div class="w-100 text-center my-3">
            <span class="d-block text-dark semi-bold text-lg">Referred Profiles</span>
            <span class="d-block text-dark">Check the status of referred candidates</span>
            <span class="d-block text-white">dsvsdvds</span>
          </div>
          <div class="w-100 d-flex justify-content-center py-4 pb-5 mb-2">
            <button routerLink="/referer/my-applications/refered" class="btn btn-outline-info py-1 px-5"
              style="border-radius: 30px;">View</button>
          </div>
        </div>
      </div> -->
      <!-- <div class="row p-2 m-0 col-sm-4 mt-4">
        <div class="col-sm-9 mx-auto border border-primary d-flex justify-content-center bg-white card"
          style="border-radius: 10px;">
          <div class="rounded-circle bg-violet vertical-center mx-auto"
            style="margin-top: -30px; width: 90px; height: 90px;">
            <span class="material-icons text-lg text-white mx-auto">preview</span>
          </div>
          <div class="w-100 text-center my-3">
            <span class="d-block text-dark semi-bold text-lg"> Profile
              {{user.profileViews ? user.profileViews > 1 ? 'Views' : 'View' : 'View'}}</span>
            <span class="d-block text-dark">Your profile viewed {{user.profileViews ? user.profileViews : 0}}
              {{user.profileViews ? user.profileViews > 1 ? 'times' : 'time' : 'time'}} by employers!</span>
            <span class="d-block text-white">dvsdv</span>
          </div>
          <div class="w-100 d-flex justify-content-center py-4 pb-5 mb-2">
            <button class="btn btn-outline-info py-1 px-5" style="border-radius: 30px;">{{user.profileViews ?
              user.profileViews > 1 ? user.profileViews + ' Views' : 'No views' : 'View'}}</button>
          </div>
        </div>
      </div> -->
    <!-- </div> -->
  </div>
  <app-recent-jobs></app-recent-jobs>
  <div class="footer-bottom bg-navy-blue ">
    <div class="text-center text-white py-3">© 2021 Refer 2 Career. All Rights Reserved.
    </div>
  </div>
</div>