<ion-header [translucent]="true" class="bg-primary">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>


<div id="main-card">
  <div  routerLink="/user/dashboard" class="card-style" style="width: 18rem;" popover="Go To DashBoard"
  triggers="mouseenter:mouseleave">
    <img src="../../../assets/icon/DASHBOARDICON.png" class="card-img-top" alt="...">
   
  </div>
  <div  routerLink="/user/profile" class="card-style" style="width: 18rem; border-style: initial;"popover="Go To My Profile"
  triggers="mouseenter:mouseleave">
    <img src="../../../assets/icon/profileicon.png" class="card-img-top" alt="...">
  </div>
  
  <div  routerLink="/user/organizations" class="card-style" style="width: 18rem;"popover="Go To Organization Details"
  triggers="mouseenter:mouseleave">
    <img src="../../../assets/icon/ORGANIZATIONICON.png" class="card-img-top" alt="...">
   
  </div>
  <div  routerLink="/user/jobs" class=" card-style" style="width: 18rem;"popover="Go To Jobs Posts"
  triggers="mouseenter:mouseleave">
    <img src="../../../assets/icon/jobsicon.webp" class="card-img-top" alt="...">
   
  </div>
  <div  routerLink="/user/messages" class="card-style" style="width: 18rem;"popover="Go To Messages"
  triggers="mouseenter:mouseleave">
    <img src="../../../assets/icon/MESSAGEICONNNN.jpg" class="card-img-top" alt="...">
   
  </div>
  <div (click)="openModal(logout)" class=" card-style" style="width: 18rem;"popover="Are You Sure You Want To Log Out"
  triggers="mouseenter:mouseleave">
    <img src="../../../assets/icon/logouticon.png" class="card-img-top" alt="...">
   
  </div>
</div>


<ng-template #logout>
  <div class="bg-white box-shadow p-3 m-3" style="border-radius: 10px;">
    Are you sure you want to logout?
    <div class="d-flex justify-content-end px-2 mt-2">
      <button class="btn btn-primary p-0 text-smd bg-violet px-2 mr-3" (click)="loggedOut()">Yes</button>
      <button class="btn btn-secondary text-smd px-2 p-0" (click)="cancel()">No</button>
    </div>
  </div>
</ng-template>
