<div class="h-100 w-100 overflow-x-hidden" style="overflow-y: auto;">
  <div class="bg-primary w-100 text-white"
    style="min-height: 290px; border-bottom-left-radius: 80px; border-bottom-right-radius: 80px;">
    <div class="vertical-center justify-content-between p-2">
      <div class="d-flex justify-content-end vertical-center">
        <ion-menu-button class="text-white"></ion-menu-button>
      </div>
      <span class="text-white text-md" style="font-family: 'Roboto', sans-serif;">Refer2Career</span>
    </div>
    <div class="row justify-content-between mt-5 pb-2 pt-5">
      <div class="col-sm-4 d-flex justify-content-center mt-3">
        <span class="text-white text-lg mx-auto">Hello, {{user.name}}!</span>
      </div>
      <div class="col-sm-4 d-flex justify-content-center mt-3">
        <button class="btn btn-info bg-coloured py-1 px-5" style="border: 0px; border-radius: 30px;">Earnings
          $0</button>
      </div>
      <div class="col-sm-4 d-flex justify-content-center mt-3">
        <button class="btn btn-outline-light py-1 px-5" routerLink="/referer/profile" style="border-radius: 30px;">My
          Profile</button>
      </div>
    </div>
  </div>
  <div class="mt-4 pt-4">
    <div class="row p-0 m-0 justify-content-between">
      <div class="row p-2 m-0 col-sm-4 mt-4">
        <div class="col-sm-9 mx-auto d-flex justify-content-center bg-white card"
          style="border: 1px solid #bfc2f7; border-radius: 10px;">
          <div class="rounded-circle bg-violet vertical-center mx-auto"
            style="margin-top: -30px; width: 90px; height: 90px;">
            <span class="material-icons text-lg text-white mx-auto">search</span>
          </div>
          <div class="w-100 text-center my-3">
            <span class="d-block text-dark semi-bold text-lg">Find Jobs</span>
            <span class="d-block text-dark">Refer friends & colleagues</span>
            <span class="d-block text-dark">Get rewarded</span>
          </div>
          <div class="w-100 d-flex justify-content-center py-4 pb-5 mb-2">
            <button routerLink="/referer/jobs" class="btn btn-outline-info py-1 px-5"
              style="border-radius: 30px;">View</button>
          </div>
        </div>
      </div>
      <div class="row p-2 m-0 col-sm-4 mt-4">
        <div class="col-sm-9 mx-auto d-flex justify-content-center bg-white card"
          style="border: 1px solid #bfc2f7; border-radius: 10px;">
          <div class="rounded-circle bg-violet vertical-center mx-auto"
            style="margin-top: -30px; width: 90px; height: 90px;">
            <span class="material-icons text-lg text-white mx-auto">recent_actors</span>
          </div>
          <div class="w-100 text-center my-3">
            <span class="d-block text-dark semi-bold text-lg">Referred Profiles</span>
            <span class="d-block text-dark">Check the status of referred candidates</span>
            <span class="d-block text-white">dsvsdvds</span>
          </div>
          <div class="w-100 d-flex justify-content-center py-4 pb-5 mb-2">
            <button routerLink="/referer/jobs" class="btn btn-outline-info py-1 px-5"
              style="border-radius: 30px;">View</button>
          </div>
        </div>
      </div>
      <div class="row p-2 m-0 col-sm-4 mt-4">
        <div class="col-sm-9 mx-auto d-flex justify-content-center bg-white card"
          style="border: 1px solid #bfc2f7; border-radius: 10px;">
          <div class="rounded-circle bg-violet vertical-center mx-auto"
            style="margin-top: -30px; width: 90px; height: 90px;">
            <span class="material-icons text-lg text-white mx-auto">preview</span>
          </div>
          <div class="w-100 text-center my-3">
            <span class="d-block text-dark semi-bold text-lg"> Profile
              {{user.profileViews ? user.profileViews > 1 ? 'Views' : 'View' : 'View'}}</span>
            <span class="d-block text-dark">Your profile viewed {{user.profileViews ? user.profileViews : 0}}
              {{user.profileViews ? user.profileViews > 1 ? 'times' : 'time' : 'time'}} by employers!</span>
            <span class="d-block text-white">dvsdv</span>
          </div>
          <div class="w-100 d-flex justify-content-center py-4 pb-5 mb-2">
            <button routerLink="/referer/jobs" class="btn btn-outline-info py-1 px-5"
              style="border-radius: 30px;">View</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-all-job-posts id="jobs"></app-all-job-posts>
</div>