<div class="w-100 bg-transparent vh-100 row p-0 m-0 vertical-center justify-content-center">
  <div class="col-sm-9 p-2" style="height: 86vh !important;">
    <div class="w-100 row vertical-center h-100 mx-auto bg-white border-7">
      <div *ngIf="isScreenBig" class="col-sm-5 bg-violet w-100 h-100 border-left-7 vertical-center">
        <span class="text-white text-lg mx-auto w-75"><span class="d-block text-center mb-4">Welcome Back!!</span>
          <span class="text-ssmd d-block text-center">
            To keep connected with us please signin with your credentials.
          </span></span>
      </div>
      <div class="" [ngClass]="isScreenBig ? 'col-sm-7' : 'col-sm-12'">
        <div class="">
          <div class="d-flex justify-content-center mb-4">
            <img src="../../../assets/login2.jpg" class="img-fluid" alt="" style="height: 110px; width: 140px;">
          </div>
        </div>
        <div class="vertical-center w-100 justify-content-center mb-2">
          <span class="text-primary text-md semi-bold">Employer Login</span>
        </div>
        <form [formGroup]="loginForm" class="p-3 row justify-content-center">
          <alert type="success" class="text-sm m-2" *ngIf="isVerified">
            Now you can login with your credentials.
          </alert>
          <mat-form-field appearance="" class="p-0 mb-2 w-100 col-sm-7 mb-3 mat-form-field">
            <mat-label class="semi-bold text-grey text-smd m-0">E-mail</mat-label>
            <input matInput class="text-sm m-0" type="email" name="email" placeholder="Enter email"
              formControlName='emailLogin'>
            <mat-error class="text-xs">Enter valid email*</mat-error>
          </mat-form-field>

          <mat-form-field appearance="" class="p-0 w-100 mb-3 col-sm-7 mat-form-field vertical-center">
            <mat-label class="semi-bold text-grey text-smd m-0">Password</mat-label>
            <input matInput class="m-0" [type]="!isPasswordVisible ? 'password': 'text'" placeholder="Enter password"
              name="password" formControlName='passwordLogin'>
            <span matSuffix (click)="isPasswordVisible = !isPasswordVisible"
              class="text-link material-icons text-grey">{{!isPasswordVisible ? 'visibility_off': 'visibility'}}
            </span>
            <mat-error class="text-xs">Password required*</mat-error>
          </mat-form-field>
          <div class="text-right mb-2">
            <span class="text-sm text-danger" *ngIf="message"><b>{{message}}</b></span>
          </div>
          <div class="col-sm-12 d-flex justify-content-center">
            <button *ngIf="!isServiceRunning" class="btn bg-violet btn-primary p-1 px-4" style="border-radius: 20px;"
              (click)="login()">Signin</button>
          </div>
        </form>
        <div class="w-100 text-center">
          <a class="text-sm text-link semi-bold text-primary" (click)="forgotPasswordVisible()">Forgot
            Password</a>
          <span class="text-grey text-md mx-2">|</span>
          <a class="text-primary text-link semi-bold" (click)="modalRef.hide()">Sign-in as
            Candidate</a>
        </div>

      </div>
    </div>
  </div>
</div>
<app-spinner-component *ngIf="isServiceRunning"></app-spinner-component>