.logo-header{
    height: auto;
    width: auto;
    max-width: 180px !important;
}

.active-button:hover{
    background-color: #0E2043; 
    color: white !important;
    border-radius: 6px;
}

.active-url{
    background-color: #0E2043; 
    color: white !important;
    border-radius: 6px; 
}

.myshadow{
   
}

.myfont-size{
    font-size: 15px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
    color: #000;;
}

.conatiner{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}