<ion-header [translucent]="true" class="bg-primary">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Job Posts</ion-title>
  </ion-toolbar>
</ion-header>
<div class="row justify-content-center" style="overflow: auto;">
  <div class="col-sm-12 m-2 d-flex justify-content-end">
    <button class="btn btn-primary m-2 position-fixed bg-violet text-sm px-3 py-1" style="z-index: 99;"
      (click)="addJobPost()">Add Job post</button>
  </div>
  <div class="col-sm-5 m-3 pt-4" *ngFor="let post of allJobPost">
    <div class="card box-shadow w-100 p-3 btn btn-light" (click)="editJobPost(post)">
      <div class="d-flex justify-content-between vertical-center">
        <div class="text-left">
          <span class="text-grey semi-bold d-block text-md">{{post.jobPost.title}}</span>
          <span class="text-light-grey semi-bold d-block w-100 text-left">{{post.jobPost.companyName}}</span>
        </div>
        <img class="card-img-top rounded-circle" src="{{post.jobPost.companyLogo}}" style="height: 80px; width: 80px;">
      </div>
      <div class="card-body text-left">
        <div class="row">
          <div class="col-sm-6">
            <span class="text-sm text-grey">{{post.jobPost.jobInternship}}</span>
          </div>
          <div class="col-sm-6">
            <span class="text-sm text-grey vertical-center text-sm"> <span class="material-icons">
              account_balance_wallet
              </span>&nbsp; &#8377; {{post.jobPost.salary}} {{post.jobPost.saalaryType}}</span>
          </div>
          <div class="col-sm-6">
            <span class="text-sm text-grey">{{post.jobPost.jobType}}</span>
          </div>
          <div class="col-sm-6">
            <span class="text-sm text-grey">Last date to apply : {{post.jobPost.lastDateToApply | date: 'dd/MM/yyyy'}}</span>
          </div>
          <div class="col-sm-6" *ngIf="post.jobPost.jobType === 'In office'">
            <span class="text-sm text-grey vertical-center text-sm"><span class="material-icons">
              location_on
              </span>{{post.jobPost.location}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>