.sort-by-selected{
    border: 1px solid #4b4b4b;
    color: #4f0a8f;
    background-color: rgb(233, 233, 233);
}

.sort-by-not-selected{
    border: 1px solid #4b4b4b;
    color: #4b4b4b;
    background-color: rgb(255, 255, 255);
}