<div class="p-2 bg-white w-100 h-100" style="border-radius: 7px; overflow-y: auto !important; overflow-x: auto;">
  <div class="row p-3 PT-0 justify-content-center mt-5" style="margin-top: 70px !important;">
    <mat-form-field appearance="outline" class="p-0 col-sm-5 mat-form-field">
      <mat-label>Search</mat-label>
      <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto"
        placeholder="EX- Java Developer, Management">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
      <mat-icon matSuffix>search</mat-icon>
      <mat-hint class="text-light-grey text-xs">Search by skills or job title</mat-hint>
    </mat-form-field>
  </div>
  <div class="row justify-content-center bg-white p-2" style="overflow: auto;">
    <div class="m-3 pt-4 col-12 col-sm-8" style="min-width: 350px;" *ngFor="let jobPost of filteredJobPosts"
      (click)="seeDetails(jobPost)">
      <div class="card box-shadow w-100 h-100 p-3 btn btn-light">
        <div class="d-flex justify-content-between vertical-center mb-3">
          <div class="text-left">
            <span class="text-dark semi-bold d-block text-md">{{jobPost.jobPost.title}}</span>
            <span class="text-light-grey semi-bold d-block w-100 text-left">{{jobPost.jobPost.companyName}}</span>
          </div>
          <img class="card-img-top rounded-circle" src="{{jobPost.jobPost.companyLogo}}"
            style="height: 80px; width: 80px;">
        </div>
        <div class="row">
          <div *ngIf="jobPost.jobPost.jobType === 'In office'"
            class="col-sm-6 my-2 vertical-center justify-content-start">
            <span class="material-icons-outlined text-grey mr-2">location_on</span>
            <span class="text-grey semi-bold  d-inline"></span>
            <span class="text-grey">{{jobPost.jobPost.location}}</span>
          </div>
          <div class="col-sm-6 vertical-center">
            <span class="material-icons-outlined text-grey mr-2">edit</span>
            <span class="text-grey semi-bold  d-inline"></span>
            <span class="text-grey">{{jobPost.jobPost.skills[0].skillName + ' , ' + jobPost.jobPost.skills[1].skillName}}</span>
          </div>
        </div>
        <div class="my-2 vertical-center justify-content-start">
          <span class="material-icons-outlined text-grey mr-2">payments</span>
          <span class="text-grey semi-bold  d-inline">{{jobPost.jobPost.jobInternship === 'Job' ? 'Salary' :
            'Stipend'}}
            :
          </span>
          <span class="text-grey">&nbsp; &#8377; {{jobPost.jobPost.salary}} {{jobPost.jobPost.salaryType}}</span>
        </div>
        <div class="my-2 vertical-center">
          <span class="material-icons-outlined text-grey mr-2">work</span>
          <span class="text-grey semi-bold  d-inline">Experience : </span>
          <span class="text-grey">&nbsp; {{ jobPost.jobPost ? getExperience(jobPost.jobPost.experience) : ''
            }}
            years</span>
        </div>
        <div class="d-flex justify-content-start">
          <span class="text-grey text-sm">Posted on &nbsp; {{jobPost.jobPost.lastDateToApply | date: 'dd MMMM
            yyyy'}}</span>
        </div>
      </div>
    </div>
  </div>
</div>