<div class="wh-100" style="overflow-y: auto; overflow-x: hidden;">
  <ion-header style="position: fixed; ">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Applications</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="w-100 vh-100">
    <div class="p-2 bg-white w-100 vh-100" style="margin-top: 50px !important; overflow-y: auto !important;">
      <h4 class="text-md text-center m-4">{{post.jobPost ? post.jobPost.title : ''}}</h4>
      <div class="row justify-content-center bg-white p-2" style="overflow: auto;">
        <div class="m-3 pt-4 col-12 col-sm-8" style="min-width: 350px;" *ngFor="let user of allAplications">
          <div class="card box-shadow w-100 h-100 p-3 btn btn-light">
            <div class="d-flex justify-content-between vertical-center mb-3">
              <div class="text-left">
                <span class="text-dark text-sm semi-bold d-block">{{user.name}}</span>
              </div>
              <span class="text-xs text-grey">Applied on {{user.appliedOn | date: 'dd MMMM
                yyyy'}}</span>
            </div>
            <div class="row my-3" *ngIf='user.skills'>
              <div class="col-sm-12 d-flex vertical-center">
                <div class="col-sm-2 text-left">
                  Skills
                </div>
                <div class="col-sm-10 text-left">
                  <span class="mx-2 px-4 py-2 bg-light-grey" style="border-radius: 10px;"
                    *ngFor="let skill of user.skills">
                    {{skill}}
                  </span>
                </div>
              </div>
            </div>
            <div class="row my-3" *ngIf='user.workExperience'>
              <div class="col-sm-12 d-flex vertical-center">
                <div class="col-sm-2 text-left">
                  Work Experience
                </div>
                <div class="col text-left">
                  <div class="text-left" *ngFor="let exp of user.workExperience">
                    <span class="text-grey text-sm mx-2"><b>Title: </b>{{exp.title}}</span>
                    <span class="text-grey text-sm mx-2"><b>Company: </b>{{exp.companyName}}</span>
                  </div>
                  <div class="text-left" *ngFor="let exp of user.workExperience">
                    <span class="text-grey text-sm mx-2"><b>Title: </b>{{exp.title}}</span>
                    <span class="text-grey text-sm mx-2"><b>Company: </b>{{exp.companyName}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>