<div class="vh-100 wh-100" style="background-color: rgb(238, 238, 238); overflow-y: auto; overflow-x: hidden;">
  <div class="curved-rectangle" data-aos="fade-up" data-aos-anchor-placement="center-center">
    <div class="row p-3 px-4 mb-5 vertical-center" id="get-started">
      <div class="col-sm-2 py-2">
        <img class="img-control" src="./../../assets/logdado.png" style="width: 85px; height: 85px; border-radius: 7px;"
          alt="">
      </div>
      <div class="col-sm-6 row align-self-center">
        <div class="col-auto my-2">
          <a class="text-light text-white-x semi-bold text-link" (click)="scroll('refer')">Refer and earn</a>
        </div>
        <div class="col-auto my-2">
          <a class="text-light text-white-x semi-bold text-link" (click)="scroll('hire')">Hire</a>
        </div>
        <div class="col-auto my-2">
          <a class="text-light text-white-x semi-bold text-link" (click)="scroll('partners')">Partners</a>
        </div>
        <div class="col-auto my-2">
          <a class="text-light text-white-x semi-bold text-link" (click)="scroll('testimonials')">Testimonials</a>
        </div>
        <div class="col-auto my-2">
          <a class="text-light text-white-x semi-bold text-link" (click)="scroll('services')">Services</a>
        </div>
      </div>
      <div class="col-sm-4 py-2">
        <div class="d-flex justify-content-end">
          <button class="btn btn-light px-4 p-1" (click)="openLoginPage()">Sign in</button>
        </div>
      </div>
    </div>
  </div>
  <h2 id="services" class="mt-5" data-aos="fade-up">Services</h2>
  <div class="row justify-content-center p-4">
    <div class="container-service row col-sm-10 justify-content-between">
      <div class="card-service col-sm-3 image-wrapper text-dark mb-3 box-shadow-l"
        style="height: 450px; z-index: 1000;">
        <div class="card-service__image-container" style="z-index: 100;">
          <img class="card-service__image img-service img-fluid" style="height: 300px;"
            src="https://images.unsplash.com/photo-1431540015161-0bf868a2d407?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80"
            alt="">
        </div>
        <div class="bg-white">

          <svg class="card-service__svg" viewBox="0 0 800 500">

            <path
              d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500"
              stroke="transparent" fill="#ffffff" />
            <path class="card-service__line"
              d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400" stroke="pink"
              stroke-width="3" fill="transparent" />
          </svg>

          <div class="card-service__content d-float">
            <h1 class="card-service__title">Lorem ipsum</h1>
          </div>
        </div>
      </div>
      <div class="card-service col-sm-3 image-wrapper text-dark mb-3 box-shadow-l"
        style="height: 450px; z-index: 1000;">
        <div class="card-service__image-container" style="z-index: 100;">
          <img class="card-service__image img-service img-fluid" style="height: 300px;"
            src="https://images.unsplash.com/photo-1519999482648-25049ddd37b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2126&q=80"
            alt="">
        </div>
        <div class="bg-white">

          <svg class="card-service__svg" viewBox="0 0 800 500">

            <path
              d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500"
              stroke="transparent" fill="#ffffff" />
            <path class="card-service__line"
              d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400" stroke="pink"
              stroke-width="3" fill="transparent" />
          </svg>

          <div class="card-service__content d-float">
            <h1 class="card-service__title">Lorem ipsum</h1>
          </div>
        </div>
      </div>
      <div class="card-service col-sm-3 image-wrapper text-dark mb-3 box-shadow-l"
        style="height: 450px; z-index: 1000;">
        <div class="card-service__image-container" style="z-index: 100;">
          <img class="card-service__image img-service img-fluid" style="height: 300px;"
            src="https://images.unsplash.com/photo-1486312338219-ce68d2c6f44d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1052&q=80"
            alt="">
        </div>
        <div class="bg-white">

          <svg class="card-service__svg" viewBox="0 0 800 500">

            <path
              d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500"
              stroke="transparent" fill="#ffffff" />
            <path class="card-service__line"
              d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400" stroke="pink"
              stroke-width="3" fill="transparent" />
          </svg>

          <div class="card-service__content d-float">
            <h1 class="card-service__title">Lorem ipsum</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center p-4">
    <div class="container-service row col-sm-10 justify-content-between">
      <div class="card-service col-sm-3 image-wrapper text-dark mb-3 box-shadow-l"
        style="height: 450px; z-index: 1000;">
        <div class="card-service__image-container" style="z-index: 100;">
          <img class="card-service__image img-service img-fluid" style="height: 300px;"
            src="https://images.unsplash.com/photo-1431540015161-0bf868a2d407?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80"
            alt="">
        </div>
        <div class="bg-white">

          <svg class="card-service__svg" viewBox="0 0 800 500">

            <path
              d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500"
              stroke="transparent" fill="#ffffff" />
            <path class="card-service__line"
              d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400" stroke="pink"
              stroke-width="3" fill="transparent" />
          </svg>

          <div class="card-service__content d-float">
            <h1 class="card-service__title">Lorem ipsum</h1>
          </div>
        </div>
      </div>
      <div class="card-service col-sm-3 image-wrapper text-dark mb-3 box-shadow-l"
        style="height: 450px; z-index: 1000;">
        <div class="card-service__image-container" style="z-index: 100;">
          <img class="card-service__image img-service img-fluid" style="height: 300px;"
            src="https://images.unsplash.com/photo-1519999482648-25049ddd37b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2126&q=80"
            alt="">
        </div>
        <div class="bg-white">

          <svg class="card-service__svg" viewBox="0 0 800 500">

            <path
              d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500"
              stroke="transparent" fill="#ffffff" />
            <path class="card-service__line"
              d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400" stroke="pink"
              stroke-width="3" fill="transparent" />
          </svg>

          <div class="card-service__content d-float">
            <h1 class="card-service__title">Lorem ipsum</h1>
          </div>
        </div>
      </div>
      <div class="card-service col-sm-3 image-wrapper text-dark mb-3 box-shadow-l"
        style="height: 450px; z-index: 1000;">
        <div class="card-service__image-container" style="z-index: 100;">
          <img class="card-service__image img-service img-fluid" style="height: 300px;"
            src="https://images.unsplash.com/photo-1486312338219-ce68d2c6f44d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1052&q=80"
            alt="">
        </div>
        <div class="bg-white">

          <svg class="card-service__svg" viewBox="0 0 800 500">

            <path
              d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500"
              stroke="transparent" fill="#ffffff" />
            <path class="card-service__line"
              d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400" stroke="pink"
              stroke-width="3" fill="transparent" />
          </svg>

          <div class="card-service__content d-float">
            <h1 class="card-service__title">Lorem ipsum</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center vertical-center" style="margin-top: 110px;">
    <div class="col-sm-8 row vertical-center">
      <div class="col-sm-6">
        <img src="../../assets/lent.png" class="w-100 img-fluid" style="" alt="">
      </div>
      <div class="col-sm-5 text-center vertical-center p-3 text-xlg bold w-100 h-100">
        <b>Over 10,000+ talented people are registered in our platform.</b>
      </div>
    </div>
  </div>

  <div class="row justify-content-center vertical-center" style="margin-top: 110px;">
    <div class="col-sm-8 row vertical-center">
      <div class="col-sm-5 text-center vertical-center p-3 text-xlg bold w-100 h-100">
        <b>500+ World Top Company Posted Their Job</b>
      </div>
      <div class="col-sm-6">
        <img src="../../assets/Group 2.png" class="w-100 img-fluid" style="" alt="">
      </div>
    </div>
  </div>
  <div style="height: 400px;"></div>
  <h2 id="hire" class="mt-5">Hire employees</h2>
  <span class="text-grey d-block text-center">Hire appropriate employee for your job in three easy steps.</span>
  <div class="w-100 d-flex justify-content-center">
    <div class="container-x row justify-content-center">
      <div class="card-x col-sm-4" style="background-color: transparent; border: 0px;">
        <div class="face face1 mx-auto bg-white">
          <div class="content">
            <div class="icon vertical-center d-flex justify-content-center">
              <div>
                <span class="material-icons text-white mr-2 w-100 text-center text-violet text-xxlg">login</span>
                <span class="text-white d-block text-center w-100 text-md bold text-violet">Login</span>
              </div>
            </div>
          </div>
        </div>
        <div class="face face2 mx-auto">
          <div class="content">
            <h3>
            </h3>
            <p class="text-violet">This is where I network and build my professional protfolio.</p>
          </div>
        </div>
      </div>
      <div class="card-x col-sm-4" style="background-color: transparent; border: 0px;">
        <div class="face face1 mx-auto">
          <div class="content">
            <div class="icon vertical-center d-flex justify-content-center">
              <div>
                <span
                  class="material-icons text-white mr-2 w-100 text-center text-xxlg text-violet">library_books</span>
                <span class="text-white d-block text-center w-100 text-md bold text-violet">Upload job post</span>
              </div>
            </div>
          </div>
        </div>
        <div class="face face2 mx-auto">
          <div class="content">
            <h3>
            </h3>
            <p class="text-violet">This is where I read news and network with different social groups.</p>
          </div>
        </div>
      </div>
      <div class="card-x col-sm-4" style="background-color: transparent; border: 0px;">
        <div class="face face1 mx-auto">
          <div class="content">
            <div class="icon vertical-center d-flex justify-content-center">
              <div>
                <span class="material-icons text-white mr-2 w-100 text-center text-xxlg text-violet">group_add</span>
                <span class="text-white d-block text-center w-100 text-md bold text-violet">Hire candidates</span>
              </div>
            </div>
          </div>
        </div>
        <div class="face face2 mx-auto">
          <div class="content">
            <h3>
            </h3>
            <p class="text-violet">This is where I share code and work on projects.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="margin-bottom: 300px; margin-top: 100px;" id="partners">
    <h2>Our Partners</h2>
    <div class="customer-logos">
      <div class="slide"><img
          src="https://raw.githubusercontent.com/solodev/infinite-carousel/master/images/image1.png">
      </div>
      <div class="slide"><img
          src="https://raw.githubusercontent.com/solodev/infinite-carousel/master/images/image2.png">
      </div>
      <div class="slide"><img
          src="https://raw.githubusercontent.com/solodev/infinite-carousel/master/images/image3.png">
      </div>
      <div class="slide"><img
          src="https://raw.githubusercontent.com/solodev/infinite-carousel/master/images/image4.png">
      </div>
      <div class="slide"><img
          src="https://raw.githubusercontent.com/solodev/infinite-carousel/master/images/image5.png">
      </div>
      <div class="slide"><img
          src="https://raw.githubusercontent.com/solodev/infinite-carousel/master/images/image6.png">
      </div>
      <div class="slide"><img
          src="https://raw.githubusercontent.com/solodev/infinite-carousel/master/images/image7.png">
      </div>
      <div class="slide"><img
          src="https://raw.githubusercontent.com/solodev/infinite-carousel/master/images/image8.png">
      </div>
    </div>

  </div>

  <div class="text-center" id="testimonials">
    <h2 class="text-dark text-center mt-5 pb-0 m-0">Testimonials</h2>
    <span class="text-grey d-block text-center">See what our clients says!</span>
  </div>
  <div class="w-100" style="margin-bottom: 70px;">
    <div class="justify-content-center">
      <div class=" row p-3 justify-content-center">
        <div class="col-sm-12 row justify-content-center">
          <div class="col-sm-3 mt-5 mb-3 m-3">
            <div class="card mt-3 ">
              <div class="layer"></div>
              <div class="content">
                <div class="card-header text-center border-0">
                  <div class="row justify-content-center my-4">
                    <div class="col">
                      <div class="d-flex flex-lg-row flex-column-reverse no-gutters justify-content-center">
                        <div class="col-sm-3 text-right"><img class="img-fluid img-testimo" id="quotes"
                            src="https://img.icons8.com/ultraviolet/40/000000/quote-left.png" width="110" height="110">
                        </div>
                        <div class="col pr-lg-5"><img class=" img-1 mr-lg-5 " src="https://i.imgur.com/nUNhspp.jpg">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body text-center pb-3 ">
                  <div class="row justify-content-center">
                    <div class="col text-center justify-content-center ">
                      <p class="bold text-center text-sm px-md-3"> Growth of data is exponential and our ability to get
                        true iufg eueuf efhehf.</p>
                    </div>
                  </div>
                </div>
                <hr class="mt-auto mb-4">
                <div class="card-footer text-center border-0 mt-0 pt-0 mb-3">
                  <div class="row text-center name mt-auto ">
                    <div class="col">
                      <h5 class="mb-0 Elizabeth text-white">Sophia Smith</h5> <small class="mt-0 text-white">Hair
                        Specialist</small>
                      <p><span class="fa fa-star text-warning mr-1"></span><span
                          class="fa fa-star text-warning mr-1"></span><span
                          class="fa fa-star text-warning mr-1"></span><span
                          class="fa fa-star text-warning mr-1"></span><span class="fa fa-star text-warning mr-1"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3 mt-5 mb-3 m-3">
            <div class="card mt-3 ">
              <div class="layer"></div>
              <div class="content">
                <div class="card-header text-center border-0">
                  <div class="row justify-content-center my-4">
                    <div class="col">
                      <div class="d-flex flex-lg-row flex-column-reverse no-gutters justify-content-center">
                        <div class="col-sm-3 text-right"><img class="img-fluid" id="quotes"
                            src="https://img.icons8.com/ultraviolet/40/000000/quote-left.png" width="110" height="110">
                        </div>
                        <div class="col pr-lg-5"><img class=" img-1 mr-lg-5 " src="https://i.imgur.com/HjKTNkG.jpg">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body text-center pb-3 ">
                  <div class="row justify-content-center">
                    <div class="col text-center justify-content-center ">
                      <p class="bold text-center text-sm px-md-3"> Growth of data is exponential and our ability to get
                        true iufg eueuf efhehf.</p>
                    </div>
                  </div>
                </div>
                <hr class="mt-auto mb-4">
                <div class="card-footer text-center border-0 mt-0 pt-0 mb-3">
                  <div class="row text-center name mt-auto ">
                    <div class="col">
                      <h5 class="mb-0 Elizabeth text-white">SMike Housin</h5> <small class="mt-0 text-white">Hair
                        Specialist</small>
                      <p><span class="fa fa-star text-warning mr-1"></span><span
                          class="fa fa-star text-warning mr-1"></span><span
                          class="fa fa-star text-warning mr-1"></span><span
                          class="fa fa-star text-warning mr-1"></span><span class="fa fa-star text-warning mr-1"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3 mt-5 mb-3 m-3">
            <div class="card mt-3 ">
              <div class="layer"></div>
              <div class="content">
                <div class="card-header text-center border-0">
                  <div class="row justify-content-center my-4">
                    <div class="col">
                      <div class="d-flex flex-lg-row flex-column-reverse no-gutters justify-content-center">
                        <div class="col-sm-3 text-right"><img class="img-fluid" id="quotes"
                            src="https://img.icons8.com/ultraviolet/40/000000/quote-left.png" width="110" height="110">
                        </div>
                        <div class="col pr-lg-5"><img class=" img-1 mr-lg-5 " src="https://i.imgur.com/HjKTNkG.jpg">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body text-center pb-3 ">
                  <div class="row justify-content-center">
                    <div class="col text-center justify-content-center ">
                      <p class="bold text-center text-sm px-md-3"> Growth of data is exponential and our ability to get
                        true iufg eueuf efhehf.</p>
                    </div>
                  </div>
                </div>
                <hr class="mt-auto mb-4">
                <div class="card-footer text-center border-0 mt-0 pt-0 mb-3">
                  <div class="row text-center name mt-auto ">
                    <div class="col">
                      <h5 class="mb-0 Elizabeth text-white">Tushar Pahuja</h5> <small class="mt-0 text-white">CEO of
                        Pahuja tech. pvt. ltd.</small>
                      <p><span class="fa fa-star text-warning mr-1"></span><span
                          class="fa fa-star text-warning mr-1"></span><span
                          class="fa fa-star text-warning mr-1"></span><span
                          class="fa fa-star text-warning mr-1"></span><span class="fa fa-star text-warning mr-1"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mx-3 mt-5 justify-content-center">
    <div class="col-sm-7 vertical-center row align-self-center justify-content-center"
      style="height: 100px; margin-bottom: -50px; border-radius: 12px; background-color: rgb(120, 55, 196);">
      <div class="col-sm-4 text-center">
        <span class="vertical-center text-white"><span class="material-icons mr-2 text-lg">
            call
          </span> +91-8458988102</span>
      </div>
      <div class="col-sm-4 text-center">
        <span class="vertical-center text-white"><span class="material-icons mr-2 text-lg">
            mail
          </span>support@refer2career.com</span>
      </div>
    </div>
  </div>
  <div class="bg-dot w-100" style="min-height: 400px; overflow-y: auto;">
    <div class="row p-3 justify-content-center" style="margin-top: 100px">
      <div class="col-sm-8 row justify-content-between">
        <div class="col-sm-3 d-flex justify-content-center">
          <span class="text-white">sfasfasf</span>
          <span class="text-white">sfasfasf</span>
        </div>
        <div class="col-sm-3 d-flex justify-content-center">
          <span class="text-white">sfasfasf</span>
          <span class="text-white">sfasfasf</span>
        </div>
        <div class="col-sm-3 d-flex justify-content-center">
          <span class="text-white">sfasfasf</span>
          <span class="text-white">sfasfasf</span>
        </div>
        <div class="col-sm-3 d-flex justify-content-center">
          <span class="text-white">sfasfasf</span>
          <span class="text-white">sfasfasf</span>
        </div>
      </div>
    </div>
  </div>
</div>