<div class="bg-light-grey">
  <div class="p-3">
    <span class="material-icons d-block text-right text-lg text-link text-grey semi-bold" (click)="close()">close</span>
    <div class="d-block">
      <div class="ml-4">
        <img class="img-fluid" src="../../../assets/logo.png" alt="" style="width: 180px; height: 120px;">
      </div>
    </div>
    <span class="d-block mb-5 text-grey text-center bold mt-2">Add Job Post</span>
    <div class="row px-3 justify-content-center">
      <div class="col-sm-9 mx-3">
        <div class="mt-4 row d-flex vertical-center justify-content-center" [formGroup]="addJobForm">
          <div class="col-sm-4 mx-3 mb-2">
            <mat-form-field appearance="outline" class="p-0 w-100 mat-form-field">
              <mat-label class="p-0">Job Title</mat-label>
              <input matInput placeholder="ex Software Developer" class="p-0" formControlName='jobTitle'>
              <mat-error>Enter valid title</mat-error>
            </mat-form-field>
          </div>
          <div class="col-sm-4 mx-3 mb-2">
            <mat-form-field appearance="fill">
              <mat-label>Job Type</mat-label>
              <mat-select>
                <mat-option value="0">Job</mat-option>
                <mat-option value="1"></mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-4 mx-3 mb-2">
            <mat-form-field appearance="fill">
              <mat-label>Job Type</mat-label>
              <mat-select>
                <mat-option value="option1">Full Time</mat-option>
                <mat-option value="option2">Part Time</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-4 mx-3 mb-2">
            <mat-form-field appearance="fill">
              <mat-label>Job Type</mat-label>
              <mat-select>
                <mat-option value="option1">Full Time</mat-option>
                <mat-option value="option2">Part Time</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-4 mx-3 mb-2">
            <mat-form-field appearance="outline" class="p-0 w-100 mat-form-field">
              <mat-label class="p-0">Job Location</mat-label>
              <input matInput placeholder="ex Bengaluru" class="p-0" formControlName='jobTitle'>
              <mat-error>Enter valid title</mat-error>
            </mat-form-field>
          </div>
          <div class="col-sm-4 mx-3 mb-2">
            <label class="text-grey semi-bold">Skills required</label>
            <div class="input-group m2-2">
              <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Username">
              <div class="input-group-prepend">
                <div class="input-group-text material-icons bg-white">delete</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>