<div class="w-100 p-2" style="max-height: 90vh !important; overflow: auto;">
  <div class="w-100 p-2 modal-body box-shadow p-0 bg-white" style="border-radius: 7px !important;">
    <div class="">
      <span (click)="modalRef.hide()" class="material-icons text-link text-grey w-100 text-right bold">
        close
      </span>
      <div class="d-flex justify-content-center mb-2">
        <img *ngIf="!isVerifyOTP"
          src="{{ isLogin?'../../../assets/login2.jpg': isRegistration ?'../../../assets/register.jpg': isForgotPassword ? '../../../assets/forgotpassword.jpg':''}}"
          class="img-fluid" alt="" style="height: 175px; width: 220px;">
      </div>
    </div>
    <div class="vertical-center w-100 justify-content-center mb-2">
      <span
        class="material-icons text-grey semi-bold text-md mr-2">{{ isLogin?'login': isRegistration ?'person_add_alt_1': isForgotPassword ? 'cached':''}}</span>
      <span
        class="text-md text-grey semi-bold">{{ isLogin?'Login': isRegistration ?'Registraion': isForgotPassword ? 'Forgot Password':''}}</span>
    </div>
    <form [formGroup]="loginForm" class="p-3" *ngIf="isLogin">
      <alert type="success" class="text-sm m-2" *ngIf="isVerified">
        Now you can login with your credentials.
      </alert>

      <mat-form-field appearance="outline" class="p-0 w-100 mat-form-field mb-2">
        <mat-label class="semi-bold text-grey text-smd m-0">E-mail</mat-label>
        <input matInput class="text-sm m-0" type="email" placeholder="Enter email" formControlName='emailLogin'>
        <mat-error class="text-xs">Enter valid email*</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="p-0 w-100 mat-form-field">
        <mat-label class="semi-bold text-grey text-smd m-0">Password</mat-label>
        <input matInput class="text-sm m-0" [type]="!isPasswordVisible ? 'password': 'text'"
          placeholder="Enter password" formControlName='passwordLogin'>
        <span matSuffix (click)="isPasswordVisible = !isPasswordVisible"
          class="text-link material-icons text-grey">{{!isPasswordVisible ? 'visibility_off': 'visibility'}}
        </span>
        <mat-error class="text-xs">Password must be greater than 6 digits*</mat-error>
      </mat-form-field>
      <div class="text-right mb-3">
        <span class="text-sm text-danger" *ngIf="message"><b>{{message}}</b></span>
      </div>
      <button *ngIf="!isServiceRunning" class="btn btn-primary d-block p-1 px-4  text-sm"
        (click)="login()">Login</button>
      <ion-spinner color="primary" mode="md" *ngIf="isServiceRunning"></ion-spinner>
    </form>
    <div class="w-100 text-center" *ngIf="isLogin">
      <a class="text-sm text-link semi-bold text-warning text-yellow" (click)="forgotPasswordVisible()">Forgot
        Password</a>
      <span class="text-grey text-md mx-2">|</span>
      <span class="text-grey text-sm mr-1">Not registered yet?</span>
      <a class="text-sm text-link semi-bold text-warning text-yellow mr-2" (click)="registrationVisible()">Create an
        Account</a>
    </div>
    <form class="p-3" [formGroup]="signupForm" *ngIf="isRegistration">
      <mat-form-field appearance="outline" class="p-0 w-100 mat-form-field mb-2">
        <mat-label class="semi-bold text-grey text-smd m-0">Full name</mat-label>
        <input matInput class="text-sm m-0" placeholder="Enter name" formControlName='name'>
        <mat-error class="text-xs">Enter valid name*</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="p-0 w-100 mat-form-field mb-2">
        <mat-label class="semi-bold text-grey text-smd m-0">E-mail</mat-label>
        <input matInput class="text-sm m-0" type="email" placeholder="Enter email" formControlName='email'>
        <mat-error class="text-xs">Enter valid email*</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="p-0 w-100 mat-form-field mb-2">
        <mat-label class="semi-bold text-grey text-smd m-0">Password</mat-label>
        <input matInput class="text-sm m-0" [(ngModel)]='password' [type]="!isPasswordVisible ? 'password': 'text'"
          placeholder="Enter password" formControlName='password'>
        <span matSuffix (click)="isPasswordVisible = !isPasswordVisible"
          class="text-link material-icons text-grey">{{!isPasswordVisible ? 'visibility_off': 'visibility'}}
        </span>
        <mat-error class="text-xs">Password must be greater than 6 digits*</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="p-0 w-100 mat-form-field">
        <mat-label class="semi-bold text-grey text-smd m-0">Confirm password</mat-label>
        <input matInput class="text-sm m-0" [type]="!isConfirmPasswordVisible ? 'password': 'text'"
          placeholder="Confirm password" formControlName="confirmPassword">
        <span matSuffix (click)="isConfirmPasswordVisible = !isConfirmPasswordVisible"
          class="text-link material-icons text-grey">{{!isConfirmPasswordVisible ? 'visibility_off': 'visibility'}}
        </span>
        <mat-error class="text-xs">Password do not match*</mat-error>
        <mat-hint *ngIf="!isConfirmPasswordMatches() && signupForm.get('confirmPassword').touched"
          class="text-xs text-danger">Password do not match*</mat-hint>
      </mat-form-field>
      <div class="text-right mb-3">
        <span class="text-sm text-danger" *ngIf="message"><b>{{message}}</b></span>
      </div>
      <button *ngIf="!isServiceRunning" class="btn btn-primary d-block p-1 px-4 text-sm mt-2"
        (click)="registerCandidate()">Register</button>
      <ion-spinner color="primary" mode="md" *ngIf="isServiceRunning"></ion-spinner>
    </form>
    <div class="w-100 text-center" *ngIf="isRegistration">
      <span class="text-grey text-sm mr-1">Already a member? </span>
      <a class="text-sm text-link semi-bold text-warning text-yellow mr-2" (click)='loginVisible()'>Login</a>
    </div>
    <div *ngIf="isVerifyOTP" class="w-100">
      <alert type="success" class="text-sm">
        We have sent a 6 digit passcode at {{ signupForm.get('email').value }} kindly enter the code here.
      </alert>
      <div class="p-3">
        <label class="semi-bold mt-2">Enter a 6-digit passcode</label>
        <ng-otp-input name="otp" ngDefaultControl [(ngModel)]='otp' (onInputChange)="onOtpChange($event)"
          [config]="{length:6, allowNumbersOnly:true, inputClass:'mb-2'	}">
        </ng-otp-input>
        <div class="text-right">
          <span class="text-sm text-danger" *ngIf="!isOTPCorrect"><b>Invalid code</b></span>
        </div>
        <button *ngIf="!isServiceRunning" (click)="verifyOTP()"
          class="btn btn-primary d-block p-1 px-4 text-sm">Verify</button>
        <ion-spinner color="primary" mode="md" *ngIf="isServiceRunning"></ion-spinner>
        <div class="mt-5">
          <a class="text-primary d-block semi-bold text-sm mt-3 pb-2" *ngIf='timer > 0'><span
              class="text-secondary">Resend Code </span> 00 :
            {{timer > 9 ? timer : '0'+timer}}</a>
          <a class="text-primary semi-bold d-block text-link text-sm mt-3 pb-2"
            *ngIf='timer <= 0'>Resend Code</a>
        </div>
      </div>
      <div class="w-100 text-center">
        <a class="text-warning text-yelllow text-sm text-link" (click)='back()'>{{'<<'}} Back</a>
      </div>
    </div>

    <div class="p-3" *ngIf="isForgotPassword">
      <mat-form-field appearance="outline" class="p-0 w-100 mat-form-field">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="Enter email" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">Enter valid email*</mat-error>
      </mat-form-field>
      <div class="d-flex justify-content-center mb-5">
        <button class="w-75 btn btn-primary p-2 text-smd bold"
          style="border-radius: 60px; border-color: 0px !important;">Proceed</button>
      </div>
    </div>
    <div class="w-100 text-center" *ngIf="isForgotPassword">
      <a class="text-sm text-link semi-bold text-warning text-yellow mr-2" (click)='loginVisible()'>Login here.</a>
    </div>
  </div>
</div>